.gameWindow
{
    background-color: black;
    width: 60vw;
    height: 60vh;
    position: absolute;
    display: block;
    left: 20vw;
    top: 20vh;
    color: yellow;
}

#cityWindow img
{
    height: 100%;
    width: 100%;
    display: block;
}

#cityWindow button
{
    position: absolute;
    width: 14%;
    height: 7%;
}

#academyButton
{
    top: 1%;
    right: 38%;
}

#magicshopButton
{
    top: 65%;
    right: 25%;
}

#barracksButton
{
    top: 55%;
    left: 13%;
}

#smithyButton
{
    top: 12%;
    left: 25%;
}

#dungeonButton
{
    top: 25%;
    right: 10%;
}

#academyWindow
{
    display: none;
}

#magicshopWindow
{
    display: none;
}

#barracksWindow
{
    display: none;
}

#smithyWindow
{
    display: none;
}

#dungeonWindow
{
    display: none;
}

#dungStart
{
    position: absolute;
    top: 0;
    left: 0;
}

#cave1
{
    display: none;
    background-image: url("../images/cave1.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#cave2
{
    display: none;
    background-image: url("../images/cave2.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
}


#cave3
{
    display: none;
    background-image: url("../images/cave3.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#fightCave
{
    display: none;
    background-image: url("../images/arena.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(4, auto);
}

.area
{
    margin: 2px;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
}

.area:hover
{
    border: 2px solid red;
}

#playerArea
{
    position: relative;
    bottom: -150%;
    left: 150%;
    right: 40%;
    width: 100%;
    height: 100%;
}








